<div class="center-block" style="border: 0px solid #083858; width: 450px; padding: 0 10px 20px 20px;">
    <h1 class="text-center" style="color: #083858;">Login</h1>
    <form name="form" novalidate (ngsubmit)="signin()" [formGroup]="signinForm">

        <div class="form-group" [ngClass]="{'has-error': (signinForm.controls.email.touched || signinForm.get('email').dirty) && !signinForm.get('email').valid}">
            <label class="control-label" for="emailId">Email</label><br/>
            <input type="email" id="emailId" class="form-control" placeholder="Enter email" autofocus formControlName="email">
            <span class="help-block" *ngIf="(signinForm.get('email').touched || signinForm.get('email').dirty) && signinForm.get('email').errors">
                <span *ngIf="signinForm.get('email').errors.required">Please enter your Email Address</span>
            <span *ngIf="signinForm.get('email').errors.pattern">Please enter valid Email Address</span>
            </span>
        </div>

        <div class="form-group" [ngClass]="{'has-error': (signinForm.get('password').touched || signinForm.get('password').dirty) && !signinForm.get('password').valid}">
            <label class="control-label" for="passwordId">Password</label><br/>
            <input type="password" id="passwordId" placeholder="Enter password" class="form-control" formControlName="password">
            <span class="help-block" *ngIf="(signinForm.get('password').touched || signinForm.get('password').dirty) && signinForm.get('password').errors">
                <span *ngIf="signinForm.get('password').errors.required">Please enter your password</span>
            </span>
        </div>

        <div class="form-group">
            <button class="btn btn-inverse btn-lg btn-primary" [disabled]="!signinForm.valid">
            Login
            </button>
            <img *ngIf="isLoading" src="../../../assets/loader.gif" />
            <a [routerLink]="['/signup']" class="btn btn-link">Signup</a>
        </div>

        <!--
        <hr>
        <div>
            <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
                <i class="fa fa-facebook"></i> Connect with Facebook
            </a>
            <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
                <i class="fa fa-twitter"></i> Connect with Twitter
            </a>
        </div>-->
    </form>
</div>
<!-- FOR TESTING -->
<br>Dirty:{{signinForm.dirty}}
<br>Touch:{{signinForm.touched}}
<br>Valid:{{signinForm.valid}}
<br>Value:{{signinForm.value | json}}


