<div class="card">
    <h4 class="card-header">About</h4>
    <div class="card-block">
        <div class="about-header">
            <h1>WE BELIEVE IN AN INTERNET YOU CAN SEE ACROSS</h1>

        </div>
        <h1 class="about-h1">We optimize the link so <strong class="about-h1-strong">marketers</strong> can own their <strong class="about-h1-strong"> customer experience</strong>.</h1>
        <p>Started on 2017, we have been committed to optimizing the link so marketers can own the customer experience. Bitly Enterprise - branded links, mobile deep linking, omnichannel campaign tracking, audience intelligence - gives the world's leading brands
            a holistic, unbiased view into an increasingly complex digital landscape, and a powerful way to see, control and own their customer experience across the internet. We are headquartered in New York City, with offices in San Francisco and Denver,
            and is trusted by leading brands like IBM, eBay, Nike, GE, BuzzFeed and thousands more.</p>
        <ul>
            <li><b>Author:</b> <a href="https://github.com/DavideViolante" target="_blank">Davide Violante</a></li>
            <li><b>GitHub:</b> <a href="https://github.com/DavideViolante/Angular2-Full-Stack" target="_blank">project repository</a></li>
            <li><b>Tools used:</b></li>
            <ul>
                <li><a href="http://www.mongoosejs.com" target="_blank"><b>M</b>ongoose.js</a> (<a href="https://www.mongodb.com" target="_blank">MongoDB</a>)</li>
                <li><a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a></li>
                <li><a href="https://www.angular.io" target="_blank"><b>A</b>ngular 4</a></li>
                <li><a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a></li>
                <li><a href="https://cli.angular.io" target="_blank">Angular CLI</a></li>
                <li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a></li>
                <li><a href="http://www.fontawesome.io" target="_blank">Font Awesome</a></li>
            </ul>
        </ul>
    </div>
</div>
