.about-header {
    background: #277B96;
    color: white;
    text-align: center;
    display: flex; //box
    padding: 100px;
}

.about-h1 {
    margin-top: 20px;
    color: #8f989d !important;
    margin-bottom: 20px;
}

.about-h1-strong {
    color: black !important;
    text-decoration: none;
    box-shadow: inset 0 -4px 0 0 rgba(255, 255, 255, 1), inset 0 -5px 0 0 #ee6123;
}
